@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --color-primary: #07b88c;
  --color-secondary: #5d0cff;
  --color-background: #e5e5e5;
  --main-font: "Rubik", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(90deg, #e6e9f0 0%, #eef1f5 100%);
  font-family: var(--main-font)
}

hr {
  margin: 1rem 2rem 1rem 2rem;
  border-color: rgba(255, 255, 255, .25);
}

.card {
  background-color: white;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 2rem;
  max-width: 600px;
  width: 95%;
}

.card__title {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.form__input {
  border: 2px solid;
  border-color: var(--color-primary);
  border-radius: .5rem 0 0 .5rem;
  -webkit-border-radius: .5rem 0 0 .5rem;
  -moz-border-radius: .5rem 0 0 .5rem;
  -ms-border-radius: .5rem 0 0 .5rem;
  -o-border-radius: .5rem 0 0 .5rem;
  font-size: 1rem;
  height: 45px;
  padding: .75rem 1rem;
  width: 100%;
}

.form__input:focus-visible, .todo-list__input:focus-visible {
  outline: 0;
}

.form__button {
  background: var(--color-primary);
  border: 0;
  border-radius: 0 .5rem .5rem 0;
  -webkit-border-radius: 0 .5rem .5rem 0;
  -moz-border-radius: 0 .5rem .5rem 0;
  -ms-border-radius: 0 .5rem .5rem 0;
  -o-border-radius: 0 .5rem .5rem 0;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.form__button:active {
  filter: grayscale(0.25);
  -webkit-filter: grayscale(0.25);
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.todo-list__item {
  align-items: center;
  background: var(--color-background);
  border: 0;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  color: black;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin-bottom: .5rem;
  user-select: none;
}

.todo-list__item.todo-list__item--editing{
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  color: black;
  opacity: 1;
}

.todo-list__item--completed {
  font-weight: bold;
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-list__p {
  cursor: pointer;
  padding-left: 1rem;
  width: 100%;
}

.todo-list__buttons {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 0 .5rem .5rem 0;
  -webkit-border-radius: 0 .5rem .5rem 0;
  -moz-border-radius: 0 .5rem .5rem 0;
  -ms-border-radius: 0 .5rem .5rem 0;
  -o-border-radius: 0 .5rem .5rem 0;
  display: flex;
  height: 45px;
  padding: 0 1rem;
}

.todo-list__input {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
  font-family: var(--main-font);
}

.todo-list__button {
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.todo-list__item:last-of-type, .todo-list__button:last-of-type {
  margin: 0;
}